<?xml version="1.0"?>
<model>
  <name>AprilTag 1 Waste Marker</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Manasvi</name>
  </author>
  <description>Floating waste marker tagged with AprilTag 36h11, ID 1. Used by the asv_fleet project as a detectable waste target.</description>
</model>
