<?xml version="1.0"?>

<model>
  <name>WasteBot</name>
  <version>1.0</version>

  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Rohan</name>
    <email>rohan@example.com</email>
  </author>

  <description>
    Waste Detection Robot based on TurtleBot3 Burger
  </description>
</model>
