<?xml version="1.0"?>

<model>
  <name>WasteBot Camera</name>
  <version>1.0</version>

  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Rohan</name>
    <email>rohan@example.com</email>
  </author>

  <description>
    WasteBot with RGB camera for autonomous waste detection.
  </description>
</model>
